{% extends 'base.html.twig' %}

{% block body %}

    <div class='p-3 pe-5 d-flex justify-content-between align-items-start'>
        <twig:returnToList :list_route_name="" />
        <twig:addButton :icon_class="" :route_name="" :text="" />
    </div>

    <h4 class='ps-3 mb-3'>{{ title }}</h4>

    {% block content %}{% endblock %}
{% endblock %}
