:root {
    --primary-bg: #0d1022;
    --secondary-bg: #10152c;
    --tertiary-bg: #121b34;
    --highlight-bg: #293048;
    --button-bg: #0084ff;
    --button-hover-bg: #4a91ff;
    --text-color: #f8f9fa;
    --text-muted: #c0c2d3;
    --label-color: #a0a2b3;
    --border-color: transparent;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-color);
    height: 100vh;
}

.navbar {
    background-color: var(--primary-bg);
}

.sidebar {
    background-color: var(--secondary-bg);
}

.searchbar,
.form-control {
    background-color: var(--tertiary-bg) !important;
    border-color: var(--border-color);
    color: var(--text-color) !important;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: var(--label-color);
}

.logo {
    width: 4vw;
}

.app-title {
    font-size: 15px !important;
    color: var(--text-color);
}

.active {
    background-color: var(--highlight-bg) !important;
}

.add-button {
    color: var(--text-color) !important;
    background-color: var(--button-bg);
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--text-color);
}

.button-icon {
    margin-right: 10px;
}



.text-muted {
    color: var(--text-muted) !important;
}

label {
    color: var(--label-color) !important;
}

.btn-primary {
    color: var(--text-color);
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}
.btn-primary:hover {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-bg);
}
.btn-primary:target {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-bg);
}
.btn-primary:disabled {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-bg);
}

.right-icon {
    margin-left: 5px;
}

.progresses{
    display: flex;
    align-items: center;
}

.lineNotCompleted,
.lineNotAccessible,
.line{
    width: 3.4vw;
    height: 6px;
    background: var(--button-bg);
}

.stepsNotAccessible,
.stepsNotCompleted,
.steps{
    display: flex;
    background-color: var(--button-bg);
    color: #fff;
    font-size: 14px;
    width: 1.9vw;
    height: 1.9vw;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.lineNotCompleted{
    background: var(--text-muted) !important;
}

.stepsNotCompleted{
    background-color: var(--text-muted) !important;
}

.lineNotAccessible{
    background: var(--text-muted) !important;
    opacity: 0.5;
}

.stepsNotAccessible{
    background-color: var(--text-muted) !important;
    opacity: 0.5;

}

.preview {
    background-color: var(--tertiary-bg) !important;
}

.blockPreview {
    background-color: var(--highlight-bg);
    padding: 5px 15px; 
    min-height: 35px;
}

.alert-dark {
    background-color: var(--highlight-bg);
    color: var(--text-color);
    border: 1px solid var(--tertiary-bg);
}

.tab-content {
    background-color: transparent;
}

.tab-pane {
    background-color: transparent!important;
}
.nav-link {
    color: var(--text-muted);
}

.nav-link:hover {
    color: var(--text-muted);
    background-color: var(--highlight-bg);
}

.div-border-dark {
    border-color: var(--tertiary-bg) !important;
}

.page-link {
    background-color: var(--tertiary-bg) !important;
    border-color: var(--border-color) !important;
    color: var(--text-color) !important;
}

.disabled {
    background-color: var(--highlight-bg) !important;
}

.table-dark {
    
    --bs-table-color: var(--text-color) !important;
    --bs-table-bg: var(--tertiary-bg) !important;
    --bs-table-border-color: var(--primary-bg) !important;
    --bs-table-striped-bg: var(--secondary-bg) !important;
    --bs-table-hover-bg: var(--highlight-bg) !important;
    /* --bs-table-hover-color: #fff; */
}

.dropdown-menu {
    background-color: var(--tertiary-bg) !important;
    border-color: var(--primary-bg) !important;
    color: var(--text-color) !important;
}

.selectize-input {
    background: var(--tertiary-bg) !important;
    color: var(--text-color) !important;
    border-color: var(--primary-bg) !important;
}

.selectize-dropdown {
    border-color: var(--primary-bg) !important;
}

.selectize-dropdown .active:not(.selected) {
    background: var(--tertiary-bg) !important;
    color: var(--text-color) !important;
    border-color: var(--primary-bg) !important;
}

.selectize-control.multi .selectize-input [data-value] {
    background-color: var(--button-bg) !important;
    background-image: linear-gradient(to bottom, var(--button-bg), var(--button-hover-bg)) !important;
    background-repeat: repeat-x !important;
}

.selectize-input>input {
    border-color: var(--primary-bg) !important;
}

.scroll-container {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 10px;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background: var(--tertiary-bg) !important;
    border-radius: 15px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--highlight-bg) !important;
    border-radius: 30px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-bg) !important;
}

.flash-messages {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    width: 12vw;
}

.flash-messages .alert {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.flash-messages .fade-out {
    opacity: 0;
    transform: translateY(-20px);
}

#notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 300px;
    background-color: red;
}

#notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #0dcaf0;
}

#notification-list li {
    background: #007bff;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
