<div data-controller="dropdown">
    <button data-dropdown-target="button" data-action="dropdown#toggle">Menu</button>
    <div data-dropdown-target="menu" class="hidden">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>

