<div class="dropdown">
    <button class="btn text-muted" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% block content %}{% endblock %}
    </ul>
</div>

