{% if is_granted(permission) %}
    <div>
        <a href="{{ path(route_name) }}"  class='me-2 rounded-pill border border-primary text-primary d-inline-block px-3 py-1 link-underline link-underline-opacity-0'>
            <i class="{{ icon_class }}"></i>
            {{ text }}
        </a>
    </div>
{% endif %}



